/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/



body {
  padding:0px;
  margin:0px;
  background-image: url("../img/light_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


p.appname {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

img.appicon {
  height: 70px;
}

img.screenshot_homepage {
  height: 300px;
}
/* ist ja nur ein kommentar*/
